[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]

# FastApi
fastapi = "*"
fastapi-pagination = "*"
starlette = "*"
uvicorn = "*"
pydantic = "*"
python-dotenv = "*"

# Database
tortoise-orm = "*"
asyncpg = "*"

# Web Requests
httpx = "*"

# HTML packages
jinja2 = "*"
bs4 = "*"

# Parsing
unidecode = "*"

# utility
Faker = "*"


[dev-packages]
black = "==20.8b1"
isort = { extras = ["pipfile_deprecated_finder"], version = "*" }
flake8 = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
